__pycache__/
outputs/
wandb/
hyak_scripts*/
*.json
events.out*
*.zip
*.ckpt
*.pth
*.pkl
*.mp4
*.txt
*.npz
*.svg
.vscode/
tensorboard_logs/
experiments/
sim_pipeline/data/
multirun/
*.db
*.csv
*.egg-info/
*.pytest_cache/
*.png
*.pt
figures/
*.npy
*.dvc

# tests
test.py
another.yaml
test_cfg/